

<div class="form-group">
  <input type="text" class="form-control" placeholder="Name" ng-model="item.name">
</div>

<div class="form-group">
  <input type="text" class="form-control" placeholder="Image URL" ng-model="item.image">
</div>

<div class="form-group">
  <button class="btn btn-default" ng-click="submitItem()">Submit</button>
</div>

<div class="form-group">
  <button class="btn btn-default" go-click="/search">Back to search</button>
</div>

<h3 ng-if="submitFailed">You need to be logged in to do this</h3>
